* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
}

.logo {
    background: url('freshservice_logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 25px;
    margin-top: 25px;
}

p {
    text-align: center;
}

.a-btn {
    display: inline-block;
    padding: 7px 14px;
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 2px;
    background: #24364a;
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: normal;
    border: 1px solid #24364a;
    text-decoration: none !important;
}

.a-btn:hover {
    background-color: #141c30;
    border-color: #141c30;
    color: #fff;
}