body {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 1.5em;
  margin: 0 auto;
}

p{
 display: block;
 padding: 10rem;
}

span {
  background-color:yellow;
}

span:hover{
  text-decoration: underline;
}
