.timing {
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
    text-align: center;
}
.timing1 {
    text-align: center;
}
.pomo{
    background-color:#e7e7e7;
}
.del{
    background-color:#e7e7e7;
}