html {
  box-sizing: border-box;
}

*,
*:after,
*::before {
  box-sizing: inherit;
}

.fw-widget-wrapper {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
