<html>
  <head>
    <script src="https://static.freshdev.io/fdk/2.0/assets/fresh_client.js"></script>
    <script
      type="module"
      src="https://unpkg.com/@freshworks/crayons/dist/crayons/crayons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/@freshworks/crayons/dist/crayons/crayons.js"
    ></script>
    <script src="../scripts/modal.js"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://static.freshdev.io/fdk/2.0/assets/freshdesk.css"
    />
    <link rel="stylesheet" type="text/css" href="../styles/modal.css" />
  </head>

  <body>
    <fw-tabs>
      <fw-tab tab-header="Create Issue">
        <br />
        <div>
          <img src="../styles/images/github.svg" width="200px" />
        </div>
        <br />
        <br />
        <fw-button class="alignments" onClick="createIssue()" id="createTicket"
          >Create an Issue</fw-button
        >
      </fw-tab>
      <fw-tab tab-header="View Issue">
        <div id="modal_content"></div>
      </fw-tab>
    </fw-tabs>
  </body>
</html>
