<html>
<head>
  <title>ASANA APP</title>
</head>

<style>

.input-div {
  padding-bottom : 13px;
}

</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script src="https://static.freshdev.io/fdk/2.0/assets/fresh_client.js"></script>
<link rel='stylesheet' type='text/css' href='https://static.freshdev.io/fdk/2.0/assets/freshdesk.css'>

<body>
  <div class='input-div'>
    <label>Enter your workspace: </label></br>
    <select id='workspace'><option disabled selected="selected">Choose a workspace</option></select>
  </div>
  <div class='input-div'>
    <label>Enter your project: </label></br>
    <select id='project'></select>
  </div>
</body>

<script>
  const URL_project = "https://app.asana.com/api/1.0/projects";
  const URL_workspace = "https://app.asana.com/api/1.0/workspaces";

  function getConfigs(savedConfigs) {
    window.savedConfigs = savedConfigs;
  }

  function postConfigs() {
    return {
      asana_details : {
        workspace_name: $('#workspace option:selected').val(),
        workspace_id  : $('#workspace option:selected').attr('id'),
        project_name  : $('#project option:selected').val(),
        project_id    : $('#project option:selected').attr('id')
      }
    }
  }

  function validate() {
    return true;
  }

  function project_api_call(workspace) {
    client.request.get(`${URL_project}?workspace=${workspace}`, {
      headers: {  "Authorization": "Bearer <%= access_token %>" },
      isOAuth: true
    })
    .then(function(data) {
      JSON.parse(data.response).data.forEach(function(project) {
        $('#project').append(`<option id=${project.id}>${project.name}</option>`);
      });
      if (typeof(savedConfigs) != "undefined") {
        $('#project').val(savedConfigs.asana_details.project_name);
      }
    });
  }

  function workspace_api_call() {
    client.request.get(URL_workspace, {
      headers: {  "Authorization": "Bearer <%= access_token %>" },
      isOAuth: true
    })
    .then(function(data) {
      JSON.parse(data.response).data.forEach(function(workspace) {
        $('#workspace').append(`<option id=${workspace.id}>${workspace.name}</option>`);
      });
      if (typeof(savedConfigs) != "undefined") {
         $('#workspace').val(savedConfigs.asana_details.workspace_name).change();
      }
    });
  }


  app.initialized().then(function(client) {
    window.client = client;

    $('#workspace').on('change', function(e) {
      project_api_call($(e.target.selectedOptions).attr('id'));
    });

    workspace_api_call();
  });
</script>
</html>
