html {
  box-sizing: border-box;
}

*,
*:after,
*::before {
  box-sizing: inherit;
}

.main {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
}
