.onedrive-content {
  color: #07C;
  padding-left: 40px;
}

.onedrive-folder-icon {
  background: url("./folder.png");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  height: 25px;
  width: 10%;
  float: left;
  margin-left: 5%;
}

.onedrive-file-icon {
  background: url("./file.png");
  background-repeat: no-repeat;
  background-size: 18px 20px;
  height: 25px;
  width: 10%;
  float: left;
  margin-left: 5%;
}
