html {
  box-sizing: border-box;
}

*,
*:after,
*::before {
  box-sizing: inherit;
}

.main,
.display-area {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

ul {
  list-style-type: none;
}
