
.layout {
  margin-top: 10px;
}

label {
  font-size: 12px;
  color: rgb(18, 52, 77);
  font-weight: 600;
  padding: 5px 0px 0px 5px;
}

p {
  font-size: 12px;
  color: rgb(71, 88, 103);
  letter-spacing: 0px;
  line-height: 20px;
  position: relative;
  font-weight: 400;
  padding-left: 5px;
}

.lookup {
  margin: 5px 0px 0px 0px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1);
  border-radius: 4px;
  border: 1px solid #cfd7df;
}

.container {
  padding-left: 0px;
}

