/*  1     2      3   
    ---------------
 1  |             |
    ---------------
 2  |      |      |      
    ---------------
 3  |      |      |           
    ---------------
 4  |      |      |           
    ---------------

*/

html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    column-gap: 3rem;
    row-gap: 1rem;
    justify-items: stretch;
    align-items: center;
  }
  
  #mail_id {
    grid-area: 1 / 1 / 1 / 3;
  }

  #aws_client {
      grid-row: auto;
      grid-column: 1 / 2; 
  }

  #aws_secret {
      grid-row: auto;
      grid-column: 2 / 3;
  }
  
  #opA {
    grid-row: auto;
    grid-column: 1 / 2;
  }
  
  #opE {
    grid-row: auto;
    grid-column: 2/ 3;
  }
  
  #opF {
    grid-row: auto;
    grid-column: 1 / 2;
  }
  
  #opM {
    grid-row: auto;
    grid-column: 2/ 3;
  }

  #opS {
      grid-row: auto;
      grid-column: 1 / 2;
  }

  #opHR {
      grid-row: auto;
      grid-column: 2 / 3;
  }
  