<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/new_tkt_req_info.css" />
  </head>
  <body>
    <section class="main">
      <table>
        <thead>
          <tr>
            <th colspan="3">Change Event Tracker</th>
          </tr>
        </thead>

        <tbody class="spotlight">
          <tr>
            <td><mark>Prev </mark></td>
            <td><mark>Current </mark></td>
            <td><mark>Event Name</mark></td>
          </tr>
        </tbody>
      </table>
    </section>
  </body>
  <script src="https://static.freshdev.io/fdk/2.0/assets/fresh_client.js"></script>
  <script type="module" src="https://unpkg.com/@freshworks/crayons/dist/crayons/crayons.esm.js"></script>
  <script nomodule src="https://unpkg.com/@freshworks/crayons/dist/crayons/crayons.js"></script>
  <script src="../scripts/new_tkt_req_info.js"></script>
</html>
