<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/cti_global_sidebar.css" />
  </head>
  <body>
    <section class="main">
      <p class="hint">
        This app observes the user clicks on Ticket Details page and appends
        following list of labels
      </p>
      <fw-label value="listening..." color="grey" class="spotlight"></fw-label>
    </section>
  </body>
  <script src="https://static.freshdev.io/fdk/2.0/assets/fresh_client.js"></script>
  <script
    type="module"
    src="https://unpkg.com/@freshworks/crayons/dist/crayons/crayons.esm.js"
  ></script>
  <script
    nomodule
    src="https://unpkg.com/@freshworks/crayons/dist/crayons/crayons.js"
  ></script>
  <script src="../scripts/tkt_req_info.js"></script>
</html>
