<html>

<head>
  <script src="https://static.freshdev.io/fdk/2.0/assets/fresh_client.js"></script>
  <link rel="stylesheet" type="text/css" href="https://static.freshdev.io/fdk/2.0/assets/freshdesk.css" />
  <link rel="stylesheet" href="./../styles/style.css">
  <script src="https://api.typingdna.com/scripts/typingdna.js"></script>
  <script type="module" src="https://unpkg.com/@freshworks/crayons/dist/crayons/crayons.esm.js">
  </script>
  <script nomodule src="https://unpkg.com/@freshworks/crayons/dist/crayons/crayons.js">
  </script>
</head>

<body>
  <section class="background">
    <div class="what">
      <img src="https://img.icons8.com/nolan/96/password-check.png" />
      <h3>Configure</h3>

      <i>Which of the following features do you need Adaptive authentication?</i>
    </div>

    <div class="toggles">
      <p class="interceptSendReply"> Sending a Ticket Reply </p>
      <fw-toggle size="small"></fw-toggle>

      <p class="interceptDelTkt"> Deletion of a Ticket </p>
      <fw-toggle size="small"></fw-toggle>

      <p class="interceptPropUpdated"> Updating a Ticket Property </p>
      <fw-toggle size="small"></fw-toggle>

      <p class="interceptCloseTkt"> The ticket being closed </p>
      <fw-toggle size="small"></fw-toggle>

    </div>

    <div class="setup">
      <blockquote class="quote-two">Theres a lot to do when you"re a kid - spiders to catch, girls to poke in the eye -
        stuff to be getting on with.</blockquote>
      <fw-textarea cols=35 rows=5 label="Give my TypingDNA" placeholder="Enter the data" state="normal"
        class="initial-dna"></fw-textarea>
      <fw-button size="small" color="secondary" class="saveSettings" expand>Save Settings</fw-button>
    </div>
  </section>
</body>
<script defer src="./../scripts/background.js"></script>

</html>
