.app-content {
  padding-left: 20px;
}

.app-row {
  padding-top: 10px;
}

.app-elements {
  padding-top: 10px;
  padding-left: 14px;
}

.event-result {
  margin-left: 20px;
  outline: 0;
}

.btn:focus {
  outline: none;
}

.Blue {
  color: blue;
}

.Red {
  color: red;
}
