.logo {
  background: url('freshdesk_logo.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 25px;
  margin-top: 25px;
  margin-left: 20px;
}

#apptext{
  padding: 20px;
  font-family: Georgia,serif;
  font-size: 1.5em;
}

.content{
  align-content: center;
  margin-left: 3px 3px 0px 0px;
}