.customSMS{
  background: none;
  border: none;
}
.content{
  padding: 5px;
}
.message_status p{
  margin: auto;
}
span.message_status p.failure {
  color: #a90329;
  background: #fefcea;
  border: 1px solid #efefef;
  padding: 5px;
}
p.important_note {
  color: #1414fa;
}
span.message_status p.success {
  color: #046C11;
  background: #fefcea;
  border: 1px solid #efefef;
  padding: 5px;
  text-align: center;
}