<html>
  <head>
    <script src="https://static.freshdev.io/fdk/2.0/assets/fresh_client.js"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://static.freshdev.io/fdk/2.0/assets/freshdesk.css"
    />
    <script src="../scripts/create_alias.js"></script>
  </head>

  <body>
    <div>
      <input
        type="text"
        id="inputLink"
        placeholder="https://www.something.com"
      />
      <br /><br />
      <input type="text" id="inputAlias" placeholder="Alias" />
      <br /><br />
      <button
        class="btn btn-primary"
        type="submit"
        id="btnCreateAlias"
        aria-label="Add new alias"
      >
        Add new alias
      </button>
    </div>
  </body>
</html>
