.form-control {
  color: black;
}

.form-group {
  margin-bottom: 30px;
}
.edit-logo {
  content: url('../images/edit.svg');
}

.delete-logo {
  content: url('../images/delete.svg');
}

.create-schedule-logo {
  content: url('../images/schedule.svg');
  height: 22%;
}

.schedule-list-logo {
  content: url('../images/list.svg');
  height: 22%;
}

.schedules-ul {
  list-style: none;
  padding-left: 0;
}

.schedule-li {
  padding: 10px;
  border-bottom: 1px #ebeef0 solid;
}

.schedule-li:last-child {
  border-bottom: none;
}

.action-icon {
  cursor: pointer;
  margin-left: 10px;
  margin-top: 25px;
}

.schedule-li .schedule-title{
  width: 80%;
  padding-right: 1rem;
  float: left;
  color: black;
  text-decoration: none;
}

.icon-text {
  margin-left: 10px;
}

.validation-message {
  font-size: 12px;
  margin-top: 3px;
  position: absolute;
  color: #ff5959;
}

.mandatory::after {
  content: "*";
  color: red;
  font-size: 14px;
  vertical-align: bottom;
  margin-left: 2px;
}
