.remove-bookmark{
  width: 1.5rem;
  display: inline-block;
  cursor: pointer;
}
.bookmarks-ul, .manage-bm-ul{
  list-style: none;
  padding-left: 0;
}
.manage-bm-li, .bookmarks-li{
  padding: 0.5rem 0;
  border-bottom: 1px #ebeef0 solid;
}

.manage-bm-li:last-child, .bookmarks-li:last-child {
  border-bottom: none;
}

.manage-bm-li .ticket-title{
  width: 80%;
  padding-right: 1rem;
  float: left;
}
.remove-ticket-bm{
  min-width: 2rem;
  float: left;
}

.add-btn-container{
  width: 80%;
  float: left;
}


.edit-btn-container{
  width: 20%;
  float: left;
}

.edit-btn-container .edit-img{
  width: 1.75rem;
}

#add_to_bookmarks{
  width: 100%;
}

#manage_bookmarks {
  padding: 0.625rem 0.75rem;
  min-width: auto;
  float: right;
}

.add-btn-container .btn-primary[disabled], .add-btn-container .btn-primary[disabled]:hover {
  cursor: not-allowed;
  transition: .1s linear;
  background-color: #b7e5d6;
  border: 1px solid #b7e5d6;
  color: #f3f5f7;
}