<html>
  <head>
    <script src="https://static.freshdev.io/fdk/2.0/assets/fresh_client.js"></script>
  </head>

  <body>
    <main>
      <img
        src="http://placeholder.pics/svg/330x340/D6FFAA-7CFFD8/5728FF-B3B3B3/cti_global_sidebar"
        alt="cti global sidebar"
      />
    </main>
  </body>
  <script>
    document.onreadystatechange = whenInteractive;

    function whenInteractive() {
      if (document.readyState === "interactive") {
        return app.initialized().then(getClientAPI).catch(console.error);
      }
    }

    function getClientAPI(_client) {
      let client = _client;
      client.events.on("app.activated", function log() {
        return console.log(
          `cti global sidebar placeholer :  app is activated 🥁`
        );
      });
    }
  </script>
</html>
