.logo {
  background: url('freshdesk_logo.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 25px;
  margin-top: 25px;
}

.goog-te-banner-frame {
display: none;
}

.grid-cointainer {
  display: grid;
  grid-template-columns: 190px 190px 190px;
  padding: 10px;

  grid-row-gap: 5px;
  grid-column-gap: 5px;
}

.three-grid-column {
  grid-column-start: 1; 
  grid-column-end: 4; 
}

.start-from-three-grid{
  grid-column-start: 3; 
}

.text-area {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  background-color: white;
  background-color: -moz-field;
  border: 1px solid darkgray;
  box-shadow: 1px 1px 1px 0 lightgray inset;  
  font: -moz-field;
  font: -webkit-small-control;
  margin-top: 5px;
  padding: 10px;
  width: 100%;  
  min-height: 100px; 
}

.btn-warning {
  color: #212529;
  background-color: #ffc107;
  border-color: #ffc107;
}
.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
button, select {
  text-transform: none;
}
button, input {
  overflow: visible;
}

.btn-success {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.blink {
  animation: blinker 1.5s cubic-bezier(.5, 0, 1, 1) infinite alternate; 
  visibility: visible !important;
}

#record-icon {
  visibility: hidden;
  margin-right: 3px;
}
@keyframes blinker {  
  from { opacity: 1; }
  to { opacity: 0; }
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.flex-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.font-30 {
  font-size: 30px !important;
}
   
.speak-icon:before {
  content: "\f028"; 
  font-family: FontAwesome;
  color: #448ee1;
  cursor: pointer;
}

.speak-icon[disabled]:before {
  color: #dddddd;
}

.speak-icon[disabled] {
  pointer-events: none;
}

[contenteditable]:focus {
  outline: 0px solid transparent;
}

.block {
  display: block;
}

.p-2 {
  padding-bottom: 2px;
}


.m-h-100 {
  min-height: 100px; 
}

.heading {
  color: #444;
  margin: 0;
  padding: 0px 0px 6px 0px;
  font-size: 30px;
  line-height: 44px;
  letter-spacing: -2px;
  font-weight: bold;
}

.icon-header {
  margin-top: 4px;
  padding-right: 3px; 
}

.p-5 {
  padding-bottom: 5px;
}
.m-10 {
  margin: 10px;
}

.translate-icon {
  color: #448ee1;
  cursor: pointer;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}