<html>
  <head>
    <script src="https://static.freshdev.io/fdk/2.0/assets/fresh_client.js"></script>
    <link rel="stylesheet" type="text/css" href="../styles/style.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://static.freshdev.io/fdk/2.0/assets/freshdesk.css"
    />
    <script
    type="module"
    src="https://unpkg.com/@freshworks/crayons/dist/crayons/crayons.esm.js">
  </script>
  <script
    nomodule
    src="https://unpkg.com/@freshworks/crayons/dist/crayons/crayons.js">
  </script>
  <script src="../scripts/util.js"></script> 
  </head>

  <body>
    <div class="action-icon" id="create-voucher">
      <img class="create-voucher-logo" style="vertical-align: middle;"/>
      <span style="vertical-align: middle;" class="icon-text">Create voucher</span>
    </div>
<br>
    <div class="app-background">
      <div class="add-app-content">
        <p class="app-label text--xsmall alignment-middle">List generated voucher codes</p>
      </div>
      <fw-button id="list-vouchers" class="button-middle" size="small"> vouchers </fw-button>
    </div>
  </div>
  <div id="values"></div>
<br>
  <div id="remove_history" class="hidden">
    <fw-label
      value="Remove History"
      color="red">
    </fw-label>

  </body>
  <script src="../scripts/app.js"></script>

</html>
