.form-control {
  color: black;
}

.form-group {
  margin-bottom: 30px;
}

.create-schedule-logo {
  content: url('../images/schedule.svg');
  height: 22%;
}

.action-icon {
  cursor: pointer;
  margin-left: 10px;
  margin-top: 25px;
}

.icon-text {
  margin-left: 10px;
}

.validation-message {
  font-size: 12px;
  margin-top: 3px;
  position: absolute;
  color: #ff5959;
}

.mandatory::after {
  content: "*";
  color: red;
  font-size: 14px;
  vertical-align: bottom;
  margin-left: 2px;
}
