.logo {
  background: url('resources/img/icon.svg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 25px;
  margin-top: 25px;
}

.sp_loader{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 15%;
}

.sp_component{
  width: 90%;
  border: 1px solid rgba(9,30,66,.12);
  padding: 5px 5px 6px;
  border-radius: 4px;
  background: #fff;
  margin-top: 5px;
  font-size: 12px;
}

.status{
  width: 10px;
  height: 10px;
  float: left;
  border-radius: 10px;
  margin-top: 4px;
}

.status_info{
  margin-left: 15px;
}

.fw_partial_outage {
  background: orange;
}

.fw_operational{
  background: green;
}

.fw_degraded_performance{
  background: yellow;
}

.fw_major_outage{
  background: red;
}