.fc_voucher{
  width: 90%;
  border: 1px solid rgba(9,30,66,.12);
  padding: 5px 5px 6px;
  border-radius: 4px;
  background: #fff;
  margin-top: 5px;
  font-size: 12px;
  position: relative;
  cursor: pointer;
}

.fc_voucher * {
  pointer-events: none;
}

.fc_detail{
  position: absolute;
  float: left;
  top: 24px;
  left: 84px;
}

.fc_voucher_title{
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
  line-height: 1;
  color: rgba(9,30,66,0.87);
  border: none;
  margin-bottom: 0;
  padding-bottom: 10px
}

.fc_voucher_image{
  padding: 8px
}

.fc_loader{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40%;
  width: 15%;
}